<form action="" method="post">
    <input type="email" name="email" id="" placeholder="Tu email"><br><br>
    <input type="password" name="password" id="" placeholder="Tu password"><br><br>
    <input type="submit" value="Login" name="login">
</form>