<h1>Mi API de Nutricion NodeJS</h1>
<h2>La API tiene los siguientes metodos:</h2>
<div>
    <h3>Obtener todos los datos</h3>
    <p>Devuelve todos los datos de la API</p>
    <p>Web: /api/v1/alimentos</p>
</div>
<div>
    <h3>Lista de alimentos</h3>
    <p>Devuelve los nombres de los alimentos de la API</p>
    <p>Web: /api/v1/alimentos/lista</p>
</div>
<div>
    <h3>Obtener alimento segun su ID</h3>
    <p>Devuelve el alimento asignado a un determinado ID</p>
    <p>Web: /api/v1/alimentos/id=[id del producto]</p>
</div>
<div>
    <h3>Obtener alimento segun su nombre</h3>
    <p>Devuelve el alimento o los alimentos que coincidan parcial o totalmente con los alimentos de la API</p>
    <p>Web: /api/v1/alimentos/nombre=[nombre del alimento]</p>
</div>
<div>
    <h3>Obtener el malimento con mayor nutriente</h3>
    <p>Devuelve el alimento con la mayor cantidad del nutriente introducido</p>
    <p>Web: /api/v1/alimentos/mayor/[nutriente]</p>
</div>
<div>
    <h3>Obtener el malimento con menor nutriente</h3>
    <p>Devuelve el alimento con la menor cantidad del nutriente introducido</p>
    <p>Web: /api/v1/alimentos/menor/[nutriente]</p>
</div>